ESA Instance Based Algs KNN Exercise

In [410]:
# Importing libraries
import pandas as pd
import numpy as np

Laden des CSV und sicherung der min max Values für die Normalisierung

In [411]:
ds = pd.read_csv('Kleider.csv',';')

In [412]:
min_koerper, max_koerper = ds.min(axis=0)[0], ds.max(axis=0)[0]
min_gewicht, max_gewicht = ds.min(axis=0)[1], ds.max(axis=0)[1]

In [413]:
ds

    Koerpergroesse  Gewicht Kleidergroesse
0              158       58              M
1              158       59              M
2              158       63              M
3              160       59              M
4              160       60              M
5              163       60              M
6              163       61              M
7              160       64              L
8              163       64              L
9              165       61              L
10             165       62              L
11             165       65              L
12             168       62              L
13             168       63              L
14             168       66              L
15             170       63              L
16             170       64              L
17             170       68              L

In [414]:
new_ds = ds.copy()

Normalisierung. Die Werte ergeben 0 bis 1

In [415]:
for y in range(2):
    for x in range(18):
        new_ds.iloc[x,y] = (ds.iloc[x,y]-ds.min(axis=0)[y])/(ds.max(axis=0)[y]-ds.min(axis=0)[y])
        # print('ds: ', x, y, ds.iloc[x,y])
        # print('min y: ', y, ds.min(axis=0)[y])
        # print((ds.iloc[x,y]-ds.min(axis=0)[y])/(ds.max(axis=0)[y]-ds.min(axis=0)[y]))

In [416]:
new_ds

    Koerpergroesse  Gewicht Kleidergroesse
0         0.000000      0.0              M
1         0.000000      0.1              M
2         0.000000      0.5              M
3         0.166667      0.1              M
4         0.166667      0.2              M
5         0.416667      0.2              M
6         0.416667      0.3              M
7         0.166667      0.6              L
8         0.416667      0.6              L
9         0.583333      0.3              L
10        0.583333      0.4              L
11        0.583333      0.7              L
12        0.833333      0.4              L
13        0.833333      0.5              L
14        0.833333      0.8              L
15        1.000000      0.5              L
16        1.000000      0.6              L
17        1.000000      1.0              L

In [417]:
predict_ds = new_ds.copy()

Euklid Berechnung mit übergabe der zu bestimmenden Werten

In [418]:
def euklid (height, weight):
    norm_h = ((height-min_koerper)/(max_koerper-min_koerper))
    norm_w = (weight-min_gewicht)/(max_gewicht-min_gewicht)
    arr=[]
    
    for x in range(18):
        arr.append(np.square((norm_h-new_ds.iloc[x,0])**2 + (norm_w-new_ds.iloc[x,1])**2))
    return arr

In [419]:
distances = []
distances = euklid(163, 61)

In [420]:
distances

[0.06949081790123458,
 0.04562970679012347,
 0.04562970679012347,
 0.010506249999999998,
 0.00525625,
 9.99999999999999e-05,
 0.0,
 0.02325625,
 0.0081,
 0.0007716049382716052,
 0.0014271604938271615,
 0.03526049382716049,
 0.0337130401234568,
 0.04562970679012347,
 0.17944637345679015,
 0.14461118827160488,
 0.1851389660493826,
 0.6893611882716048]

Erweiterung der Tabelle um die Distanz

In [421]:
predict_ds.insert(3, "distanz", distances, True)

In [422]:
predict_ds

    Koerpergroesse  Gewicht Kleidergroesse   distanz
0         0.000000      0.0              M  0.069491
1         0.000000      0.1              M  0.045630
2         0.000000      0.5              M  0.045630
3         0.166667      0.1              M  0.010506
4         0.166667      0.2              M  0.005256
5         0.416667      0.2              M  0.000100
6         0.416667      0.3              M  0.000000
7         0.166667      0.6              L  0.023256
8         0.416667      0.6              L  0.008100
9         0.583333      0.3              L  0.000772
10        0.583333      0.4              L  0.001427
11        0.583333      0.7              L  0.035260
12        0.833333      0.4              L  0.033713
13        0.833333      0.5              L  0.045630
14        0.833333      0.8              L  0.179446
15        1.000000      0.5              L  0.144611
16        1.000000      0.6              L  0.185139
17        1.000000      1.0              L  0.689361

Sortierung nach der Distanz

In [423]:
predict_ds = predict_ds.sort_values('distanz')

Moeglichkeit der Bestimmung des K

In [424]:
def predict (k):
    #predict_ds=predict_ds.sort_values('distanz')
    
    for x in range(k):
        print(predict_ds.iloc[x, 2])

In [425]:
predict_ds

    Koerpergroesse  Gewicht Kleidergroesse   distanz
6         0.416667      0.3              M  0.000000
5         0.416667      0.2              M  0.000100
9         0.583333      0.3              L  0.000772
10        0.583333      0.4              L  0.001427
4         0.166667      0.2              M  0.005256
8         0.416667      0.6              L  0.008100
3         0.166667      0.1              M  0.010506
7         0.166667      0.6              L  0.023256
12        0.833333      0.4              L  0.033713
11        0.583333      0.7              L  0.035260
1         0.000000      0.1              M  0.045630
2         0.000000      0.5              M  0.045630
13        0.833333      0.5              L  0.045630
0         0.000000      0.0              M  0.069491
15        1.000000      0.5              L  0.144611
14        0.833333      0.8              L  0.179446
16        1.000000      0.6              L  0.185139
17        1.000000      1.0              L  0.689361

In [426]:
predict(3)

M
M
L

Hier sollte noch eine Funktion erstellt werden, welche die Klasse nach Vorkommen bestimmt. Dabei sollte das 'K' stets ungerade gewählt werden.